.navbar{
    width: 90%;
    height: 75px;
    display: flex;
    border-bottom: 3px solid white;
    font-size: 170%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgreen; /* Hover color */
}

.navbar a.active {
    color: #0f8536; /* Active color */
}

.links{
    display: flex;
    justify-content: space-between;
    width: 7%;
}
