.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.error-header h1{
    margin: 0;
    font-size: 40px;
} 

.error-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.error-body p{
    font-size: 20px;
    margin: 0;
}

.error img{
    width: 300px;
    height: auto;
    border: solid white 1px;
}